# Dependencies
node_modules
.pnp
.pnp.js

# Production outputs
dist
dist-ssr
build
*.local

# Environment & Keys
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / Editor files
.DS_Store
Thumbs.db
.idea
.vscode
*.sw?
